<%- include("partials/header")-%>
<div class="container">
  <div class="donediv">
    <p class="dname2">*Please do not refresh this page.</p>
    <h2 class="dname">Order placed for <%=quantity%> <%=x%></h2>
  <h4 class="dname2">TotalCost of the order: <%=cost%></h4>
    <h5 class="donet"><%=done%></h5>
    <a class="go" href="/">Go to HOME</a>
    <a class="go" href="/#products">see other products</a>

  </div>

</div>
